* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(to right, lavender, aliceblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    letter-spacing: 5px;
    margin: 0 2rem;
    font-size: 44px;
    float: left;
}

.header {
    display: inline-block;
    width: 100%;
    padding: 1rem;
}

.header a { text-decoration: none; }
.header small { font-size: small; }

.radio {
    display: inline-flex;
    column-gap: 10px;
}

.options {
    float: right;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    line-height: 3rem;
    margin: 0 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2rem;
    /* max-width: 1600px; */
}

.flip-card {
    flex-basis: auto;
    text-align: center;
    min-height: 260px;
    min-width: 260px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    flex-shrink: 1;
}

.flip-card:hover {
	animation: bounce 0.5s linear;
}
  
.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .inner-card {
    transform: rotateY(180deg);
}
  
.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.back-card {
    transform: rotateY(180deg);
}

.back-card h3 { margin-top: 15px; }

.back-card ul {
    text-align: left;
    list-style: none;
    columns: 2;
    column-gap: 1rem;
    line-height: 2rem;
    margin: 0.5rem -0.5rem 0.5rem 0;
    
}

.back-card li:nth-child(-n+3) { text-align: end; }
.back-card li small:nth-child(-n+3) { margin-right: 0.2rem; }
.back-card .total { margin-left: 30px; }

.back-card small {
    font-size: 0.6rem;
    text-transform: uppercase;
    margin-left: 0.2rem;
}

.image {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    white-space: nowrap;
    margin: 1rem auto 0;
}

.middle {
    display: inline-block;
    vertical-align: middle;
    margin-right: auto;
    margin-left: -1rem;
    height: 100%;
}

.image img{
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.info {
    margin-top: -0.5rem;
}

.number {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 2px 10px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-size: 0.75rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.front-card i { height: 1rem; width: 1rem; }
.front-card .number { text-transform: uppercase; }
.back-card .number { text-transform: capitalize; }

.name {
    margin: 13px 0 7px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.type {
    font-size: 0.8rem;
    font-weight: bolder;
    text-transform: uppercase;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}